{% extends 'layout.html' %}
{% block body %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <!--p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p-->
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>National Skill Development Education Center India(NSDEC)</h3>
            <p class="fst-italic">
              National Skill Development Education Center India(NSDEC)
Delhi under the legislation of Ministry of Corporate Affairs, Government of India
Skills and knowledge are the driving forces of economic growth and social development for any country. Presently, the country faces a demand – supply mismatch, as the economy needs more ‘skilled’ workforce than that is available. In the higher education sphere, knowledge and skills are required for diverse forms of employment in the sector of education, health care manufacturing and other services. Potentially, the target group for skill development comprises all those in the lab our force, including those entering the lab our market for the first time, those employed in the organized sector and also those working in the unorganized sector. 
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Upgrade skills to international standards through significant industry involvement and develop necessary frameworks for standards, curriculum and quality assurance.</li>
              <li><i class="bi bi-check-circle"></i> Enhance, support and coordinate private sector initiatives for skill development through appropriate Public-Private Partnership ( PPP ) models; strive for significant operational and financial involvement from private sector..</li>
              <li><i class="bi bi-check-circle"></i> Play the role of a ‘market-maker’ by bringing funds, particularly in sectors where market mechanisms are ineffective or missing.</li>
            </ul>
            <p>
This scheme will support the unemployed person to free from various anti- social activities as well as to keep them in peace with the useful occupation. Under the vocational training programmer will be offered to the educated and the uneducated unemployed persons to start any help employment project or to seek any job opportunities in the government or in the private sectors E.g. Health Care, Agriculture, Technology, Fire Safety, Travel and Tourism, Shipping,  Business and Commerce, Computer Science, IT, Library Science and many more…            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <!--img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""-->
                  <h3>Rakesh Dubey</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
As rated above it really is a great for study at least in my humble opinion.Good, very specific curriculum and syllabus. Great, confident and exceptional Faculty. Affordable fee structure.                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <!--img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""-->
                  <h3>Jay Prakash Sharma</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
One of the best platform. Everyone is very cooperative . Helping in each and every thing without any delay . And all the process are so systematic.                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <!--img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt=""-->
                  <h3>Vipin Gomase</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
Education made simple by distance education, wonderful staff and management. Had a good experience. Thank you.                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <!--img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt=""-->
                  <h3>Dheeraj Makode</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
They are very professional and polite. This is the best place to get your education sorted out.                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <!--img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt=""-->
                  <h3>Hansraj Nerkar</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
My experience was too good with this NSDEC university...everything was done rightEverything was taught well and assisted in great manner....thank you so much for all your support.                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

{% endblock %}